<%- include ('layouts/header') %>
<div class ="displayPage">
    <h1 style = "color: red">You have been banned </h1>

    <br/>
    <h3><%= error.status %> | <%= error.message %></h3>
    <br/>
    <a href="/">â† Back to home</a>
</div>
    <%- include ('layouts/footer') %>